<form action="/add" method="post">
    <div>
      <label for="name"> Restaurant Name:</label>
      <input id="name" type="text" name="name">
    </div>
    <div>
      <label for="cost">Cost:</label>
      <input id="cost" type="cost" name="cost">
    </div>
    <div>
      <label for="distance">Distance:</label>
      <input id="distance" type="distance" name="distance">
    </div>
    <div>
      <input type="submit" value="Add">
    </div>
</form>