  <div class='navigation'>
  <ul>
    <li><a href='#' class='index'>All Links</a></li>
    <li><a href='/add' class='add'>add</a></li>
  </ul>
  </div>

<form action="/destination" method="post">Weighting Factor
    <div>
      <label for="frequency"> Frequency:</label>
      <input id="frequency" type="text" name="frequency">
    </div>
    <div>
      <label for="cost">Cost:</label>
      <input id="cost" type="cost" name="cost">
    </div>
    <div>
      <label for="distance">Distance:</label>
      <input id="distance" type="distance" name="distance">
    </div>
    <div>
      <input type="submit" value="submit">
    </div>
</form>

